/* CSS by Carlos Diaz */

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* ///ADD/// CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Root Variables */
:root {
  --blue-bulletin: #1D3557;
  --news-flash: #E63946;
  --watchdog-white: #F1FAEE;
  --truth-text: #333;
  --story-subtitle: #457B9D;
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: 'Merriweather', serif;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  --transition: all 0.5s ease;
}

/* Manual Light/Dark Mode Styles*/
body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}
body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}
#theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  border-radius: 1.5rem;
  cursor: pointer;
}

/* ///ADD/// Skip Link Styles */

.skip-link {
  left: 50%;
  padding: .5rem;
  position: absolute;
  transform: translateY(-100%);
  text-decoration: none;
  color: var(--watchdog-white);
  font-family: var(--font-body);
  background-color: var(--news-flash);
  transition: var(--transition);
}

.skip-link:focus {
  transform: translateY(0%);
  transition: var(--transition);
}

/* ///ADD/// Navigation Styles */

/* Controls the container holding nav elements */
ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: .5rem;
}

/* Controls nav elements/buttons */
li a {
  text-decoration:none;
  text-align: center;
  padding: .5rem;
  margin-right: 1rem;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--watchdog-white);
  background-color: var(--news-flash);
  transition: var(--transition);
}

li a:hover {
  background-color: transparent;
  border: solid 2px var(--news-flash);
  transition: var(--transition);
  cursor: pointer;
}



/* ///ADD/// Global Layout Styles */
header, footer {
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  width: 100%;
  justify-items: left;
}

header div, footer div {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: .5rem;
  padding: 1rem 0;
  align-items: center;
  height:auto;
}

main{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2%;
}

/* Welcome (Entire Section w/ h2) */
#welcome {
  width: 100%;
}

/* Breaking News (Individual Sections)*/
#breaking-news section {
  background-color: var(--news-flash);
  border: solid 2.5px var(--truth-text);
  color: var(--watchdog-white);
  padding: 1rem;
  margin: 0 auto;
  max-width: 90%;
  /* something to align everything to center */
  box-shadow: var(--shadow);
  transition: var(--transition);
}

#breaking-news video {
  margin: 0 auto;
  width: 100%;
}

#breaking-news section:hover {
  cursor: pointer;
  transition: var(--transition);
  transform: scale(1.05);
}

/* Breaking News (Entire Section w/ h2) */
#breaking-news {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
}

#breaking-news h2 {
  grid-column-start: 1;
  grid-column-end: -1;
}

/* Featured Stories (Entire section w/ h2) */
#featured-aticles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 1rem;
  margin: 1rem auto;
}

#featured-aticles h2 {
  grid-column-start: 1;
  grid-column-end: -1;
}

/* Featured Stories (Individual stories) */

#featured-aticles section {
  border: solid 2.5px var(--story-subtitle);
  box-shadow: var(--shadow);
  padding: .5rem;
  max-width: 325px;
  transition: var(--transition);
  margin: 0 auto;
}

#featured-aticles section:hover {
  cursor: pointer;
  transition: var(--transition);
  transform: scale(1.05);
}

/* Notifications Section (connected to Form Section) */

#alerts {
  margin: 1rem auto;
  width: 100%;
  border: solid white;
}

#alerts h2 {
  margin-bottom: .75rem;
}

/* ///ADD/// Global Text Styles */

/* Headings Styling */
h1, h2, h3 {
  font-family: var(--font-heading);
}

h1{
  font-size: 2rem;
}

h2{
  font-size: 1.5rem;
  margin: 1rem 0;
  padding-top: 0.25rem;
}

h3{
  font-size: 1.15rem;
  margin: 0.5rem 0;
}

/* Body Text Styling */
body {
  font-family: var(--font-body);
}

p{
  line-height: 1.35;
  max-width: 75ch;
  padding: 0.5rem 0;
}

footer p {
  margin: 1.5rem auto;
}

blockquote {
  font-family: var(--font-heading);
  font-weight: bold;
  text-align: center;
  margin-top: .75rem;
}

/* Form Styling */
form {
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  border: solid 2.5px var(--truth-text);
  padding: 1rem;
  margin: 0 auto;
}

fieldset {
  border: solid 2.5px var(--blue-bulletin);
  margin: 15px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

fieldset legend {
  font-weight: 500;
  text-transform: uppercase;
}

form div {
  display: inline-block;
}

input[type=submit]{
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  text-transform: capitalize;
  box-shadow: var(--shadow);
  width: 100%;
  padding: .75rem;
  margin: 0 auto;
  transition: var(--transition);
}

input[type=submit]:hover{
  background-color: var(--watchdog-white);
  border: solid 2px var(--blue-bulletin);
  cursor: pointer;
  color: var(--blue-bulletin);
  transition: var(--transition);
}

/* ///ADD/// medium styles 620px */
@media screen and(min-width: 620px){

}



/* ///ADD/// large styles 920px */
@media screen and(min-width: 920px){


}


/* ///ADD/// x-large styles 1024px */
@media screen and(min-width: 1024px){
  
}


/* ///ADD/// Interaction Queries for color scheme light and dark and motion preference */

@media (prefers-color-scheme: dark){
    body {
        background-color: var(--truth-text);
        color: var(--watchdog-white);
    }
}

@media (prefers-color-scheme: light){
    body {
        background-color: var(--watchdog-white);
        color: var(--truth-text);
    }
}

@media (prefers-reduced-motion: reduce){

    @-webkit-keyframes icon-animation {
        0% { font-variation-settings: "TIME" 1; }
    }
    @keyframes icon-animation {
        0% { font-variation-settings: "TIME" 1; }
    }
}

/* ///ADD///  Feature Query for :has() that checks if the #menu-toggle is checked */
@supports (selector(:has(*))) {


  /* i think this is if the screen is mobile, then the mobile menu is toggled and makes the dropdown MENU visible */
}